<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <% for (const i in htmlWebpackPlugin.options.cdn && htmlWebpackPlugin.options.cdn.css) { %>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.cdn.css[i] %>">
  <% } %>
  <% for (const i in htmlWebpackPlugin.options.cdn && htmlWebpackPlugin.options.cdn.js) { %>
  <script defer type="text/javascript" src="<%= htmlWebpackPlugin.options.cdn.js[i] %>"></script>
  <% } %>
</head>
<body>
<div id="app">
  <div class="score-board hidden" id="hud">
    <div class="item-name">得分:</div>
    <div class="item-desc score" id="hud-score">0</div>
    <div class="item-name">状态:</div>
    <div class="item-desc buff" id="hud-buff">
      <ul class="buff-list">
      </ul>
    </div>
  </div>
  <div class="control">
    <div class="control-item left" id="left-control"></div>
    <div class="control-item right" id="right-control"></div>
  </div>
</div>
</body>
</html>
